**/build/
**/*.png
**/*.jpg
**/*.jpeg
**/*.bmp
**/*.gif
**/*.tiff
**/*.webp
**/*.html
**/*.docx
**/*.pro.user
**/*.pro.user.*
**/*.qbs.user
**/*.qbs.user.*
**/*.creator.user
*.autosave
*.qmlproject.user
*.qmlproject.user.*
.qtc_clangd/
.qtc/
.idea/
.vscode/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~
CMakeLists.txt.user
*.obj
*.o
*.a
*.so
*.dll
*.exe
*.app
*.out
*.qmake.stash

